[Unit]
Description=SKY Chat VoIP Proxy Assistant
After=syslog.target
After=network.target

[Service]
ExecStart=/usr/bin/java -jar -Dspring.profiles.active=dev_assist /home/june/voip_proxy/proxyserver-0.0.1-SNAPSHOT.jar
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=voip_proxy_assist

[Install]
WantedBy=multi-user.target
